* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-color: #110f0f;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* For background Animation */

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.todo-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
    height: 100vh;
    /* background-color: #b6d7e2; */
    overflow: hidden;
}

h1 {
    color: white;
	text-align: center;
}

.input-container {
	display: flex;
}

#todo-input {
	flex: 1;
	padding: 10px;
	font-size: 16px;
    outline: none;
    border: none;
    /* border-radius: 30px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

#add-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #008CBA;
	color: #fff;
	border: none;
	/* border-radius: 0 5px 5px 0; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
	cursor: pointer;
}

#add-button:hover {
	background-color: #0077B3;
}
::-webkit-scrollbar{
    display: none;
}
#tasks-count{
    /* z-index = 1 */
    color:rgb(231, 231, 231,0.6);
    /* background-color: #fff; */
    width: 100px;
    margin-left:20px;
    margin-top: 10px;
}

ul {
    max-height: 75vh;
	list-style: none;
	padding: 0;
	margin-top: 5px;
    /* background-color: #42b300; */
    overflow: scroll;
    border-radius: 10px;
}

li {
	display: flex;
	align-items: center;
	padding: 10px;
    background-color: rgb(199, 199, 199);
	border-bottom: 1px solid #696969;
}

li:last-child {
	border-bottom: none;
}

.checkbox {
	margin-right: 10px;
}

.checked {
	text-decoration: line-through;
	color: #979797;
}

.delete-button {
	margin-left: auto;
	background-color: #f44336;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.delete-button:hover {
	background-color: #d32f2f;
}
